.register{
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-h2{
    margin: 25px auto; 
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.9em;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
}
.register-form{
    width: 600px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    border-radius: 1rem;
    padding:.5rem 1rem 1rem 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr ;
}

.register-form-title{
    display: flex;
    align-items: center;
}

.form-container-input{

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 20px 80px;
}

.register-input{

    font-size: .7rem;
    border: 1px solid #DADCE0;
    border-radius: .3rem;
    outline: none;
    padding: .7rem;
    background: none;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
}

.register-input:focus{
    border: 1px solid #000;

}

.register-form-div-button{
    display: flex;
    justify-content: end;
    margin: 20px;
}

#button-submit{
    transition: .3s;
}

#button-submit:hover{
    transform: scale(1.1);
}