.register {
  height: calc(100vh - 180px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.form-h2 {
  margin: 25px auto;
  margin-bottom: 2.5rem;
  font-weight: 600;
  font-size: 1.9em;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.register-form {
  width: 600px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  border-radius: 1rem;
  padding: 2rem 1.5rem 2rem 1.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.register-form-title {
  display: flex;
  align-items: center;
}

.form-container-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 20px 80px;
}

.register-input {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  border: 1px solid #dadce0;
  border-radius: 0.3rem;
  outline: none;
  padding: 0.7rem;
  background: none;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
}

.register-input:focus {
  border: 1px solid #000;
}

.register-form-div-button {
  display: flex;
  justify-content: end;
  margin: 20px;
}

#button-submit {
  transition: 0.3s;
  width: 150px;
}

#button-submit:hover {
  transform: scale(1.1);
}

.fa-arrow-left {
  color: #000;
}
