body {
    overflow: hidden;
}
.MyAccount-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    background-color: #E6E6E6;
}
.MyAccount-Container .MyAccount{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    background-color:#F9F9F9;
    height:60vh;
    width:50vw;
    border-radius:10px;
}

.MyAccount-Container .MyAccount .MyAccount-Text{
    display: flex;
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
}

.Button-Container{
    display: flex;
    margin: 50px 0;
    width:50%;
    justify-content:space-around;
}