.header{
    width: 100%;  
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.068);
    height: var(--header-height);
    position: fixed;
    z-index: 10000;
    background-color: #fff;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    font-family: 'Poppins',sans-serif;
    width: 130px;
}

.header-div-input{
    position: relative;
}
.header-searchBar{
    outline: none;
    border-radius: 9999px;
    padding: .4rem 1rem .3rem 1rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    font-size: .9em;
    z-index:1;
    width: 350px;
}

.header-searchBar:focus{

    border: 2px solid #4ca1ea;
    -webkit-box-shadow: 3px 13px 39px -10px rgba(0,0,0,0.13); 
    box-shadow: 4px 5px 31px -13px #4ca1ea;
}

.header-ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;
}

.header-li{
    margin-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    cursor: pointer;
    font-weight: 500;
}

.li-cart{
    position: relative;
}

.header-li-cartArray{
    position: absolute;
    height: 1rem;
    width: 1.2rem;
    border-radius: 100%;
    background-color: #1a9fdd;
    top: -0.625rem;
    right: -0.625rem ;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    font-size: .75rem;

}

.header-li-span{
    color: black;
    margin-right: 5px;
}
.header-li-link, .header-li-link:hover{
    
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1em;

}

.header-li-link-signIn{
    color: #000;
    text-decoration: none;
}

/* =========FONT AWSOME========= */

.fa-search{
    position: absolute;
    right: 4%;
    transform: translateY(50%);
    font-size: 1em;
    color: rgba(0, 0, 0, 0.493);
    z-index: 10;
}

.fa-home{
    margin-right: 5px; 
    color:#000;

}
.link-fa, .link-fa:hover{
    color:#000;
    text-decoration: none;

}

.fa-shopping-cart{
    color: #000;
    margin-left: 0;
    font-size: 1.3em;
}