.form-button{
    display: block;
    width: 100%;
    padding: .65rem 2rem;
    background-color: #0f1c24;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    border: none;
    border-radius: .5rem;
    font-size: .75rem;
    cursor: pointer;
    transition: .3s;
}