.MyAccount-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    background-color: #E6E6E6;
}
.MyAccount-Container .MyAccountEdit{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    background-color:#F9F9F9;
    height:60vh;
    width:40vw;
    border-radius:10px;
}

.MyAccount-Container .MyAccountEdit .MyAccount-Text{
    display: flex;
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
}

.Button-Container{
    display: flex;
    margin: 50px 0;
    width:50%;
    justify-content:space-around;
}

@media only screen and (max-width: 1400px) {
    .MyAccount-Container .MyAccountEdit{
        height:75vh;
        width:50vw;
    }
  }
